.header{
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  background-color: beige;
  align-items: center;
}

.name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carticon{
  height: 2.7rem;
  position: absolute;
  top: 0.5rem; 
  right: 1rem; 
}

.itemcount{
  position: absolute;
  top: 30%;
  right: 0.75rem;
  height: 0.75rem;
  width: 0.75rem;
  font-size: 0.75rem;
  text-align: center;
  background-color: darkgray;
  border-radius: 50%;
  padding: 5px
}

.searchbar {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  display: flex;
  height: 1.5rem;
  border: 2px black solid;
  border-radius: 6px;
  background-color: white;
}

.search{
  outline: none;
  border: none;
  border-radius: 6px 0 0 6px;
  padding: 0.2rem;
}

.clear, .searchicon, .searchbtn{
  height: 100%;
  outline: none;
  border: none;
  background-color: white;
}

.searchbtn{
  border-radius: 0 6px 6px 0;
  padding: 0;
}

.searchicon{
  box-sizing: border-box;
  border-left: black 1px solid;
  padding: 0.2rem 0.5rem;
  border-radius: 0 6px 6px 0;
}



