.navbar{
  box-sizing: border-box;
  height: 50px;
  position: fixed;
  background-color: tan;
  top: 100px;
  left:0;
  right:0;
  display: flex;
  align-items: center;
  padding: 0 1rem;;
}
  
.navcat{  
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 3rem;
}

.nav{
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-family: var(--categorynamefont);
}


