.sidebar{
  display: flex;
  width: min-content;
  position:fixed;
  top: 0;
  right: -1000px;
  background-color: transparent;
  z-index: 1;
  transition: transform 300ms ease-in-out;
}

.sidebar.show {
  transform: translateX(-1000px); /* Slide in from the right when "show" class is added */
}

.closeSideCart{
  height: 2rem;
  width: 2rem;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
}

.sideCart{
  width: 30vw;
  background-color: white;
  overflow: scroll;
  min-height: 100vh;
}

.cartctn{
  display: grid;
  box-sizing: border-box;
  grid-auto-rows: 10rem;
}

.cartcard{
  border: 2px black solid;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

.cartfirstrow{
  grid-column: 1/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 80% 20%;
}

.carttitle{
  white-space: nowrap;    
  overflow: hidden;      
  text-overflow: ellipsis; 
}

.cartimagelink{
  grid-column: 1/2;
  grid-row: 2/5;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pricecart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantityinput{
  display: flex;
}

.quantity{
  width: 2rem;
  text-align: center;
}

.removebtn{
  width: fit-content;
  justify-self: end;
}
