.sidebar{
  display: flex;
  width: min-content;
  position:fixed;
  top: 0;
  right: -1000px;
  bottom: 0;
  background-color: transparent;
  z-index: 5;
  transition: transform 300ms ease-in-out;
}

.sidebar.show {
  transform: translateX(-1000px); /* Slide in from the right when "show" class is added */
}

.closeSideCart{
  height: 2rem;
  width: 2rem;
  background-color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--pageheaderfont);
  border-radius: 6px 0 0 6px;
}

.sideCart{
  width: 30vw;
  background-color: white;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.cartctn{
  display: grid;
  box-sizing: border-box;
  grid-auto-rows: 10rem;
  overflow-y: scroll;
  padding: 1rem 5%;
}

.cartcard{
  border-bottom: 1px lightgrey solid;
  border-top: 1px lightgrey solid;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

.cartfirstrow{
  grid-column: 1/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 80% 20%;
}

.carttitle{
  white-space: nowrap;    
  overflow: hidden;      
  text-overflow: ellipsis; 
  font-family: var(--pageheaderfont);
}

.cartimagelink{
  grid-column: 1/2;
  grid-row: 2/5;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cartprice, .totalprice{
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: var(--descripfont);
  text-align: right;
  padding-right: 10%;
}

.quantityinput{
  display: flex;
  justify-content: right;
  margin-right: 10%;
  border: grey solid 1px;
  border-radius: 4px;
  width: min-content;
}

.quantity{
  outline: none;
  width: 2rem;
  text-align: center;
  font-family: var(--descripfont);
  border: none
}

.incbtn{
  font-family: var(--pageheaderfont);
  border: none;
}

.removebtn{
  width: fit-content;
  justify-self: end;
  font-family: var(--pageheaderfont);
}

.cartTotal, .clearCart, .checkoutbtn{
  font-family: var(--pageheaderfont);
}

.cartTotal{
  text-align: right;
  padding-top: 1rem;
  margin-right: 3rem;
  font-size: 1.5rem;
}

.cartbtns{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 3rem;
  padding: 2rem 0;
}